interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://waterservices.usgs.gov/nwis/iv/?format=json&sites=09067020&startDT=2024-05-01T00:00:00&endDT=2024-05-02T00:00:00&siteStatus=all
  response:
    body:
      string: '{"name":"ns1:timeSeriesResponseType","declaredType":"org.cuahsi.waterml.TimeSeriesResponseType","scope":"javax.xml.bind.JAXBElement$GlobalScope","value":{"queryInfo":{"queryURL":"http://waterservices.usgs.gov/nwis/iv/format=json&sites=09067020&startDT=2024-05-01T00:00:00&endDT=2024-05-02T00:00:00&siteStatus=all","criteria":{"locationParam":"[ALL:09067020]","variableParam":"ALL","timeParam":{"beginDateTime":"2024-05-01T00:00:00.000","endDateTime":"2024-05-02T00:00:00.000"},"parameter":[]},"note":[{"value":"[ALL:09067020]","title":"filter:sites"},{"value":"[mode=RANGE,
        modifiedSince=null] interval={INTERVAL[2024-05-01T00:00:00.000Z/2024-05-02T00:00:00.000Z]}","title":"filter:timeRange"},{"value":"methodIds=[ALL]","title":"filter:methodId"},{"value":"2024-05-11T14:14:35.348Z","title":"requestDT"},{"value":"cb66a320-0fa0-11ef-83df-005056beda50","title":"requestId"},{"value":"Provisional
        data are subject to revision. Go to http://waterdata.usgs.gov/nwis/help/?provisional
        for more information.","title":"disclaimer"},{"value":"caas01","title":"server"}]},"timeSeries":[{"sourceInfo":{"siteName":"EAGLE
        R BLW WASTEWATER TREATMENT PLANT AT AVON, CO","siteCode":[{"value":"09067020","network":"NWIS","agencyCode":"USGS"}],"timeZoneInfo":{"defaultTimeZone":{"zoneOffset":"-07:00","zoneAbbreviation":"MST"},"daylightSavingsTimeZone":{"zoneOffset":"-06:00","zoneAbbreviation":"MDT"},"siteUsesDaylightSavingsTime":true},"geoLocation":{"geogLocation":{"srs":"EPSG:4326","latitude":39.6348611,"longitude":-106.5319444},"localSiteXY":[]},"note":[],"siteType":[],"siteProperty":[{"value":"ST","name":"siteTypeCd"},{"value":"14010003","name":"hucCd"},{"value":"08","name":"stateCd"},{"value":"08037","name":"countyCd"}]},"variable":{"variableCode":[{"value":"00045","network":"NWIS","vocabulary":"NWIS:UnitValues","variableID":45807140,"default":true}],"variableName":"Precipitation,
        total, in","variableDescription":"Precipitation, total, inches","valueType":"Derived
        Value","unit":{"unitCode":"in"},"options":{"option":[{"name":"Statistic","optionCode":"00000"}]},"note":[],"noDataValue":-999999.0,"variableProperty":[],"oid":"45807140"},"values":[{"value":[{"value":"0.00","qualifiers":["P"],"dateTime":"2024-05-01T00:00:00.000-06:00"},{"value":"0.00","qualifiers":["P"],"dateTime":"2024-05-01T00:15:00.000-06:00"},{"value":"0.00","qualifiers":["P"],"dateTime":"2024-05-01T00:30:00.000-06:00"},{"value":"0.00","qualifiers":["P"],"dateTime":"2024-05-01T00:45:00.000-06:00"},{"value":"0.00","qualifiers":["P"],"dateTime":"2024-05-01T01:00:00.000-06:00"},{"value":"0.00","qualifiers":["P"],"dateTime":"2024-05-01T01:15:00.000-06:00"},{"value":"0.00","qualifiers":["P"],"dateTime":"2024-05-01T01:30:00.000-0[...]
