interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://waterservices.usgs.gov/nwis/iv/?format=json&sites=09067020
  response:
    body:
      string: '{"name":"ns1:timeSeriesResponseType","declaredType":"org.cuahsi.waterml.TimeSeriesResponseType","scope":"javax.xml.bind.JAXBElement$GlobalScope","value":{"queryInfo":{"queryURL":"http://waterservices.usgs.gov/nwis/iv/format=json&sites=09067020","criteria":{"locationParam":"[ALL:09067020]","variableParam":"ALL","parameter":[]},"note":[{"value":"[ALL:09067020]","title":"filter:sites"},{"value":"[mode=LATEST,
        modifiedSince=null]","title":"filter:timeRange"},{"value":"methodIds=[ALL]","title":"filter:methodId"},{"value":"2024-05-05T21:12:28.965Z","title":"requestDT"},{"value":"2df69e40-0b24-11ef-8171-2cea7f58f5ca","title":"requestId"},{"value":"Provisional
        data are subject to revision. Go to http://waterdata.usgs.gov/nwis/help/?provisional
        for more information.","title":"disclaimer"},{"value":"vaas01","title":"server"}]},"timeSeries":[{"sourceInfo":{"siteName":"EAGLE
        R BLW WASTEWATER TREATMENT PLANT AT AVON, CO","siteCode":[{"value":"09067020","network":"NWIS","agencyCode":"USGS"}],"timeZoneInfo":{"defaultTimeZone":{"zoneOffset":"-07:00","zoneAbbreviation":"MST"},"daylightSavingsTimeZone":{"zoneOffset":"-06:00","zoneAbbreviation":"MDT"},"siteUsesDaylightSavingsTime":true},"geoLocation":{"geogLocation":{"srs":"EPSG:4326","latitude":39.6348611,"longitude":-106.5319444},"localSiteXY":[]},"note":[],"siteType":[],"siteProperty":[{"value":"ST","name":"siteTypeCd"},{"value":"14010003","name":"hucCd"},{"value":"08","name":"stateCd"},{"value":"08037","name":"countyCd"}]},"variable":{"variableCode":[{"value":"00045","network":"NWIS","vocabulary":"NWIS:UnitValues","variableID":45807140,"default":true}],"variableName":"Precipitation,
        total, in","variableDescription":"Precipitation, total, inches","valueType":"Derived
        Value","unit":{"unitCode":"in"},"options":{"option":[{"name":"Statistic","optionCode":"00000"}]},"note":[],"noDataValue":-999999.0,"variableProperty":[],"oid":"45807140"},"values":[{"value":[{"value":"0.00","qualifiers":["P"],"dateTime":"2024-05-05T14:30:00.000-06:00"}],"qualifier":[{"qualifierCode":"P","qualifierDescription":"Provisional
        data subject to revision.","qualifierID":0,"network":"NWIS","vocabulary":"uv_rmk_cd"}],"qualityControlLevel":[],"method":[{"methodDescription":"","methodID":246667}],"source":[],"offset":[],"sample":[],"censorCode":[]}],"name":"USGS:09067020:00045:00000"},{"sourceInfo":{"siteName":"EAGLE
        R BLW WASTEWATER TREATMENT PLANT AT AVON, CO","siteCode":[{"value":"09067020","network":"NWIS","agencyCode":"USGS"}],"timeZoneInfo":{"defaultTimeZone":{"zoneOffset":"-07:00","zoneAbbreviation":"MST"},"daylightSavingsTimeZone":{"zoneOffset":"-06:00","zoneAbbreviation":"MDT"},"siteUsesDaylightSavingsTime":true},"geoLocation":{"geogLocation":{"srs":"EPSG:4326","latitude":39.6348611,"longitude":-106.5319444},"localSite[...]
