interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://waterservices.usgs.gov/nwis/iv/?format=json&sites=09067020&startDT=2005-05-11T00:00:00&endDT=2006-05-10T23:59:59&siteStatus=all
  response:
    body:
      string: ''
    headers:
      Location:
      - https://nwis.waterservices.usgs.gov/nwis/iv/?format=json&sites=09067020&startDT=2005-05-11T00:00:00&endDT=2006-05-10T23:59:59&siteStatus=all
    status:
      code: 301
      message: Moved Permanently
- request:
    body: null
    headers:
    method: GET
    uri: https://nwis.waterservices.usgs.gov/nwis/iv/?format=json&sites=09067020&startDT=2005-05-11T00:00:00&endDT=2006-05-10T23:59:59&siteStatus=all
  response:
    body:
      string: '{"name":"ns1:timeSeriesResponseType","declaredType":"org.cuahsi.waterml.TimeSeriesResponseType","scope":"javax.xml.bind.JAXBElement$GlobalScope","value":{"queryInfo":{"queryURL":"http://nwis.waterservices.usgs.gov/nwis/iv/format=json&sites=09067020&startDT=2005-05-11T00:00:00&endDT=2006-05-10T23:59:59&siteStatus=all","criteria":{"locationParam":"[ALL:09067020]","variableParam":"ALL","timeParam":{"beginDateTime":"2005-05-11T00:00:00.000","endDateTime":"2006-05-10T23:59:59.000"},"parameter":[]},"note":[{"value":"[ALL:09067020]","title":"filter:sites"},{"value":"[mode=RANGE,
        modifiedSince=null] interval={INTERVAL[2005-05-11T00:00:00.000Z/2006-05-10T23:59:59.000Z]}","title":"filter:timeRange"},{"value":"methodIds=[ALL]","title":"filter:methodId"},{"value":"2024-05-12T16:30:38.045Z","title":"requestDT"},{"value":"f72941c0-107c-11ef-a893-4cd98f86fad9","title":"requestId"},{"value":"Provisional
        data are subject to revision. Go to http://waterdata.usgs.gov/nwis/help/?provisional
        for more information.","title":"disclaimer"},{"value":"nadww02","title":"server"}]},"timeSeries":[{"sourceInfo":{"siteName":"EAGLE
        R BLW WASTEWATER TREATMENT PLANT AT AVON, CO","siteCode":[{"value":"09067020","network":"NWIS","agencyCode":"USGS"}],"timeZoneInfo":{"defaultTimeZone":{"zoneOffset":"-07:00","zoneAbbreviation":"MST"},"daylightSavingsTimeZone":{"zoneOffset":"-06:00","zoneAbbreviation":"MDT"},"siteUsesDaylightSavingsTime":true},"geoLocation":{"geogLocation":{"srs":"EPSG:4326","latitude":39.6348611,"longitude":-106.5319444},"localSiteXY":[]},"note":[],"siteType":[],"siteProperty":[{"value":"ST","name":"siteTypeCd"},{"value":"14010003","name":"hucCd"},{"value":"08","name":"stateCd"},{"value":"08037","name":"countyCd"}]},"variable":{"variableCode":[{"value":"00045","network":"NWIS","vocabulary":"NWIS:UnitValues","variableID":45807140,"default":true}],"variableName":"Precipitation,
        total, in","variableDescription":"Precipitation, total, inches","valueType":"Derived
        Value","unit":{"unitCode":"in"},"options":{"option":[{"name":"Statistic","optionCode":"00000"}]},"note":[],"noDataValue":-999999.0,"variableProperty":[],"oid":"45807140"},"values":[{"value":[],"qualifier":[],"qualityControlLevel":[],"method":[{"methodDescription":"","methodID":246667}],"source":[],"offset":[],"sample":[],"censorCode":[]}],"name":"USGS:09067020:00045:00000"},{"sourceInfo":{"siteName":"EAGLE
        R BLW WASTEWATER TREATMENT PLANT AT AVON, CO","siteCode":[{"value":"09067020","network":"NWIS","agencyCode":"USGS"}],"timeZoneInfo":{"defaultTimeZone":{"zoneOffset":"-07:00","zoneAbbreviation":"MST"},"daylightSavingsTimeZone":{"zoneOffset":"-06:00","zoneAbbreviation":"MDT"},"siteUsesDaylightSavingsTime":true},"geoLocation":{"geogLocation":{"srs":"EPSG:4326","latitude":39.6348611,"longitude":-106.5319444},"localSiteXY":[]},"note":[],"siteType":[],"siteProperty":[{"value":"ST","name":"siteTypeCd"},{"value":"14010003","name":"hucCd"},{"value":"08","name":"stateCd"},{"value":"08037","name":"countyCd"}]},"variable":{"variableCode":[{"value":"00060","network":"NWIS","vocabulary":"NWIS:UnitValues","variableID":45807197,"default":true}],"variableName":"Streamflow,
        ft&#179;/s","variableDescription":"Discharge, cubic feet per second","valueType":"Derived
        Value","unit":{"unitCode":"ft3/s"},"options":{"option":[{"name":"Statistic","optionCode":"00000"}]},"note":[],"noDataValue":-999999.0,"variableProperty":[],"oid":"45807197"},"values":[{"value":[{"value":"552","qualifiers":["A","[91]"],"dateTime":"2005-05-11T00:00:00.000-06:00"},{"value":"548","qualifiers":["A","[91]"],"dateTime":"2005-05-11T00:15:00.000-06:00"},{"value":"555","qualifiers":["A","[91]"],"dateTime":"2005-05-11T00:30:00.000-06:00"},{"value":"555","qualifiers":["A","[91]"],"dateTime":"2005-05-11T00:45:00.000-06:00"},{"value":"555","qualifiers":["A","[91]"],"dateTime":"2005-05-11T01:00:00.000-06:00"},{"value":"563","qualifiers":["A","[91]"],"dateTime":"2005-05-11T01:15:00.000-06:00"},{"value":"563","qualifiers":["A","[91]"],"[...]
